*{
    margin: 0;
    padding: 0;
}


body{
    background: #eeeeee;
}

.hp-container{
    max-width: 1200px;
    margin: 0 auto;
}

.hp-header{
    background: #ffffff; ;
}

.hp-header::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

.hp-logo{

    float: left;
    width: 30px;
    height: 30px;
   
}

.hp-header-menu-image{
    width: 30px;
    float: right;

    height: 30px;
}

.hp-welcome-area{
    padding: center;
    margin-left: 40%;
    margin-top: 50px;
    
}
h1{
    color: rgb(39, 161, 161);
}
p{
    color: black;
    margin-top: 30px;
}

.hp-about-container{
    margin-top: 100px;
    background: #ffffff;
}

.hp-about-container{
    width: 100%;
    height: 300px;
    background: #ffffff;
}
.box1, .box2 {
    width: calc(100% /3);
    height: 300px;

    background: rgb(187, 135, 135);
}


.box2{
   
    background: rgb(196, 122, 122);
    float: left;
}


